{% extends 'base.html' %}
{% block content %}
<body>
<section class="text-gray-400 bg-gray-900 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">DATA STRUCTURE LAB</h1>
            <p class= "lg:w-2/3 mx-auto leading-relaxed text-base">Data Structure is a way to store and organize data so that it can be used efficiently.There are several basic and advanced types of data structures, all designed to arrange data to suit a specific purpose. </p> 
          </div>
          <div class="flex flex-wrap -m-2">
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full" data-aos="zoom-in-up">
              <div class="h-full flex items-center border-gray-800 border p-4 rounded-lg">
                <div class="flex-grow">
                  <a href="/stack/">
                    <h2 class="text-white title-font font-medium transition hover:text-gray-700/75 dark:text-white dark:hover:text-white/75"
                    >EXPERIMENT 1</h2>
                    <p class="text-gray-600">STACK</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full" data-aos="zoom-in-up">
              <div class="h-full flex items-center border-gray-800 border p-4 rounded-lg">
                <div class="flex-grow">
                  <a href="/array/">
                    <h2 class="text-white title-font font-medium transition hover:text-gray-700/75 dark:text-white dark:hover:text-white/75"
                    >EXPERIMENT 2</h2>
                    <p class="text-gray-600">ARRAY</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full" data-aos="zoom-in-up">
              <div class="h-full flex items-center border-gray-800 border p-4 rounded-lg">
                <div class="flex-grow">
                  <a href="/linkedlist/">
                  <h2 class="text-white title-font font-medium transition hover:text-gray-700/75 dark:text-white dark:hover:text-white/75">EXPERIMENT 3</h2>
                  <p class="text-gray-600">LINKED LIST</p>
                </a>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full" data-aos="zoom-in-up">
              <div class="h-full flex items-center border-gray-800 border p-4 rounded-lg">
                <div class="flex-grow">
                  <a href="/insertion/">
                    <h2 class="text-white title-font font-medium transition hover:text-gray-700/75 dark:text-white dark:hover:text-white/75"
                    >EXPERIMENT 4</h2>
                    <p class="text-gray-600">INSERTION SORT</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full" data-aos="zoom-in-up">
              <div class="h-full flex items-center border-gray-800 border p-4 rounded-lg">
                <div class="flex-grow">
                  <a href="/merge/">
                  <h2 class="text-white title-font font-medium transition hover:text-gray-700/75 dark:text-white dark:hover:text-white/75"
                  >EXPERIMENT 5</h2>
                  <p class="text-gray-600">MERGE SORT</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full" data-aos="zoom-in-up">
              <div class="h-full flex items-center border-gray-800 border p-4 rounded-lg">
                <div class="flex-grow">
                  <a href="/bubble/">
                  <h2 class="text-white title-font font-medium transition hover:text-gray-700/75 dark:text-white dark:hover:text-white/75" 
                  >EXPERIMENT 6</h2>
                  <p class="text-gray-600">BUBBLE SORT</p></a>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full" data-aos="zoom-in-up">
              <div class="h-full flex items-center border-gray-800 border p-4 rounded-lg">
                <div class="flex-grow">
                  <a href="/linear/">
                  <h2 class="text-white title-font font-medium transition hover:text-gray-700/75 dark:text-white dark:hover:text-white/75">EXPERIMENT 7</h2>
                  <p class="text-gray-600">LINEAR SEARCH</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full" data-aos="zoom-in-up">
              <div class="h-full flex items-center border-gray-800 border p-4 rounded-lg">
                <div class="flex-grow">
                  <a href="/binary/">
                  <h2 class="text-white title-font font-medium transition hover:text-gray-700/75 dark:text-white dark:hover:text-white/75">EXPERIMENT 8</h2>
                  <p class="text-gray-600">BINARY SEARCH</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full" data-aos="zoom-in-up">
              <div class="h-full flex items-center border-gray-800 border p-4 rounded-lg">
                <div class="flex-grow">
                  <a href="/queue/"></a>
                  <h2 class="text-white title-font font-medium transition hover:text-gray-700/75 dark:text-white dark:hover:text-white/75">EXPERIMENT 9</h2>
                  <p class="text-gray-600">QUEUE</p>
                </div>
              </div>
            </div>
            
      </section>
    </body>
    {% endblock content %}