{% extends 'base.html' %}
{% load static %}
{% block content %}
<body> 
  <section>
                    <div class="text-gray-400 bg-gray-900 body-font overflow-hidden">
                    <div class="container px-5 py-24 mx-auto">
                      <div class="lg:w-4/5 mx-auto flex flex-wrap">
                        <div class="lg: w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
                          <h1 class="text-white text-4xl title-font font-medium mb-4">STACK</h1>
                          <div class="flex mb-4">
                            <a class="flex-grow text-green-400 border-b-2 border-green-500 py-2 text-lg px-1">AIM</a>
                            <a class="flex-grow border-b-2 border-gray-800 py-2 text-lg px-1">THEORY</a>
                            <a class="flex-grow border-b-2 border-gray-800 py-2 text-lg px-1">STIMULATION</a>
                          </div>
                          <p class="leading-relaxed mb-4"> AIM :To study and understand the concept of stack and implemnet it .</p>
                          <h3 class="text-white text-2xl title-font font-medium mb-4">THEORY</h3>
                          <P> A Stack is an abstract data type with a pre-defined capacity, which means that it can store the elements of a limited size. It is a data structure that follows some order to insert and delete the elements, and that order can be LIFO or FILO.
                        </p>
                        <p>A stack is an abstract data type that holds an ordered, linear sequence of items. In contrast to a queue, a stack is a last in, first out (LIFO) structure. A real-life example is a stack of plates: you can only take a plate from the top of the stack, and you can only add a plate to the top of the stack.
                            </p>
                          <div class="flex border-t border-gray-800 py-2">
                            <span class="text-gray-500">Time complexity </span>
                            <span class="ml-auto text-white">O(1)</span>
                          </div>
                          <div class="flex border-t border-gray-800 py-2">
                            <span class="text-gray-500">Tpye of datatype</span>
                            <span class="ml-auto text-white">Dynamic</span>
                          </div>
                          <div class="flex">
                            <span class="title-font font-medium text-2xl text-white">Simulation</span>
                            <button class="flex ml-auto text-white bg-green-500 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded">TRY</button>
                          </div>
                        </div>
                        <img alt="Stack" class="lg:w-1/3 w-full lg:h-auto h-45 object-cover object-center rounded" src="">
                      </div>
                    </div></section>
                 
                
                

    
                  </body>
                  {% endblock content %}
</html>